@font-face {
    font-family: 'Rosellinda';
    src: url('SVN-Rosellinda-Alyamore.woff2') format('woff2');
}

@font-face {
    font-family: 'Megante';
    src: url('SVN-Megante.woff2') format('woff2');
}

@font-face {
    font-family: 'Baskvill';
    src: url('baskvill.woff2') format('woff2');
}

/*
@font-face {
    font-family: Montserrat;
}*/
